# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Pliki generowane przez VisualGDB
.HMI_and_bluetooth_VisualGDB/.visualgdb/VisualGDBCache/
*.vgdbproj-Debug-VisualGDB/
*.vgdbproj-Release-VisualGDB/02_Firmware/01_ESP32/**/build/ 
build/ 
02_Firmware/01_ESP32/**/build/ 
02_Firmware/01_ESP32/**/build 
